<!DOCTYPE html>
<html lang="es">

<head>

  <title>Página no encontrada | GUILLERMO HALVARADO</title>
  <meta name="description" content="">

  {{> metas}}

  {{> styles}}

</head>

<body class="portfolio" id="top">

  {{> header}}

  <section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title text-center">
            <h1>Página no encontrada</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> footer}}

  <!-- 
    Essential Scripts
    =====================================-->
  {{> scripts}}

</body>

</html>