<!DOCTYPE html>
<html lang="es">

<head>

	<title>GUILLERMO HALVARADO | Diseño y Desarrollo Activos Digitales</title>
	<meta name="description"
		content="Diseño y Desarrollo activos digitales para cumplir con tu objetivo comercial, investigando y analizando el mercado relacionado con tu marca.">

	{{> metas}}

	{{> styles}}
</head>

<body class="portfolio" id="top">

	{{> header}}

	<!-- Hero Start -->
	<section class="slider py-7 ">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 col-sm-12 col-12 col-md-5">
					<div class="slider-img position-relative">
						<img src="/images/foto.png" alt="Foto Guillermo" class="img-fluid w-100">
					</div>
				</div>

				<div class="col-lg-6 col-12 col-md-7">
					<div class="ml-5 position-relative mt-5 mt-lg-0">
						<span class="head-trans">Guillermo</span>
						<h1 class="font-weight-normal text-color text-sm"><i class="ti-minus mr-2"></i>Autonomo</h1>
						<h2 class="mt-3 text-lg-2 mb-3 text-capitalize">
							Diseño y Desarrollo Web
						</h2>
						<p class="animated fadeInUp lead mt-4 mb-5 text-p lh-35">
							Hola, me alegra que visites mi página personal, mi nombre es Guillermo, llevo 6 años
							ofreciendo
							mis servicios de diseño y desarrollo de activos digitales para cumplir con tu
							objetivo comercial, investigando y analizando el mercado relacionado con tu marca.
						</p>
						<a href="/linkedin" class="btn btn-main-border" target="_blank">ENCUENTRAME EN LINKEDIN</a>
					</div>
				</div>
			</div>
			<div class="section" data-aos="fade-left">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="d-flex justify-content-around">
							<img src="/images/icon_figma.png" alt="icon-figma">
							<img src="/images/icon_inkscape.png" alt="icon-inkscape">
							<img src="/images/icon_css3.png" alt="icon-css3">
							<img src="/images/icon_html5.png" alt="icon-html5">
							<img src="/images/icon_javascript.png" alt="icon-javascript">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero End -->

	<!-- About start -->
	<section class="about-my" id="about" data-aos="fade-up">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="row">
						<div class="col-lg-12">
							<p class="text-p text-md text-white">Me gustan los diseños limpios y simples con esquemas de
								color apropiados que representen el concepto de la marca y/o producto.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="row">
						<div class="col-lg-12">
							<p class="text-p text-md text-white">Mi experiencia es en Diseño y Desarrollo Web, landing
								page, Banners HTML5 y Flat Banners para tus campañas de marketing digital.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About end -->

	<!-- Service start -->
	<section class="section" id="service">
		<div class="container">
			<div class="row justify-content-center" data-aos="fade-left">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<span class="text-color mb-0 text-uppercase letter-spacing text-sm"><i
								class="ti-minus mr-2"></i>PROCESO</span>
						<h2 class="title">¿Cómo Funciona?</h2>
					</div>
				</div>
			</div>

			<div class="row" style="cursor:no-drop;">
				<div class="col-lg-4 col-md-6">
					<div class="card p-5 rounded-1">
						<i class="ti-stats-up text-lg-2 text-muted"></i>
						<h3 class="my-4 text-capitalize">Investigación de Mercado</h3>
						<p>Comienzo realizando de un estudio sistemático para comprender el mercado y descubrir el
							comportamiento y necesidades de tus clientes potenciales.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card p-5 rounded-1">

						<i class="ti-layers text-lg-2 text-muted"></i>
						<h3 class="my-4 text-capitalize">Diseño Web</h3>
						<p>Con la información recolectada identifico tendencias en diseños para adaptarlos a tu marca o
							producto y así idear un boceto Wireframe, luego el Mockup de tu Landing page y/o Banner Web.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card p-5 rounded-1">
						<i class="ti-layout text-lg-2 text-muted"></i>
						<h3 class="my-4 text-capitalize">Desarrollo Web</h3>
						<p>Construyo tu landing page en lenguaje web adaptativo con los lineamientos previamente
							diseñados para que pueda ser utilizada en tus campañas de marketing.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services End -->

	{{> seccion-cta}}

	<!-- Portfolio start -->
	<section class="section" id="portfolio" data-aos="fade-up">
		<div class="container">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section-title text-center">
							<span class="text-color mb-0 text-uppercase letter-spacing text-sm"><i
									class="ti-minus"></i>PORTAFOLIO</span>
							<h2 class="title">Trabajos</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="post_gallery owl-carousel owl-theme">
						<div class="item">
							<div class="portfolio-item position-relative">
								<img src="/images/portfolio/digital-actives.jpg" alt="Portafolio activos digitales"
									class="img-fluid">

								<div class="portoflio-item-overlay">
									<a href="/portafolio/digital-actives"><i class="ti-plus"></i></a>
								</div>
							</div>
							<div class="text mt-3">
								<h4 class="mb-1 text-capitalize">Diseño</h4>
								<p class="text-uppercase letter-spacing text-sm">LandingPage</p>
							</div>
						</div>
						<div class="item">
							<div class="portfolio-item position-relative">
								<img src="/images/portfolio/prosolution.jpg" alt="Portafolio Prosolutions"
									class="img-fluid">

								<div class="portoflio-item-overlay">
									<a href="/portafolio/prosolutions"><i class="ti-plus"></i></a>
								</div>
							</div>
							<div class="text mt-3">
								<h4 class="mb-1 text-capitalize">Rediseño y Desarrollo</h4>
								<p class="text-uppercase letter-spacing text-sm">LandingPage</p>
							</div>
						</div>
						<div class="item">
							<div class="portfolio-item position-relative">
								<img src="/images/portfolio/spa-medico.jpg" alt="Portafolio SPA Medico"
									class="img-fluid">

								<div class="portoflio-item-overlay">
									<a href="/portafolio/spa-medico"><i class="ti-plus"></i></a>
								</div>
							</div>
							<div class="text mt-3">
								<h4 class="mb-1 text-capitalize">Rediseño y Desarrollo</h4>
								<p class="text-uppercase letter-spacing text-sm">PaginaWeb</p>
							</div>
						</div>

						<div class="item">
							<div class="portfolio-item position-relative">
								<img src="/images/portfolio/personalMarketingDigital.jpg"
									alt="Portafolio marketing digital personal" class="img-fluid">

								<div class="portoflio-item-overlay">
									<a href="/portafolio/personal-marketing-digital"><i class="ti-plus"></i></a>
								</div>
							</div>
							<div class="text mt-3">
								<h4 class="mb-1 text-capitalize">Diseño</h4>
								<p class="text-uppercase letter-spacing text-sm">Portafolio</p>
							</div>
						</div>

						<div class="item">
							<div class="portfolio-item position-relative">
								<img src="/images/portfolio/personal-portafolio.jpg" alt="Portafolio marca personal"
									class="img-fluid">

								<div class="portoflio-item-overlay">
									<a href="/portafolio/personal-landing"><i class="ti-plus"></i></a>
								</div>
							</div>
							<div class="text mt-3">
								<h4 class="mb-1 text-capitalize">Diseño</h4>
								<p class="text-uppercase letter-spacing text-sm">Landing Page</p>
							</div>
						</div>
						<div class="item">
							<div class="portfolio-item position-relative">
								<img src="/	images/portfolio/design-agency.jpg" alt="Portafolio marca personal"
									class="img-fluid">

								<div class="portoflio-item-overlay">
									<a href="/portafolio/design-agency"><i class="ti-plus"></i></a>
								</div>
							</div>
							<div class="text mt-3">
								<h4 class="mb-1 text-capitalize">Diseño</h4>
								<p class="text-uppercase letter-spacing text-sm">Landing Page</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio End -->

	{{> footer}}

	<!-- 
    Essential Scripts
    =====================================-->
	{{> scripts}}

</body>

</html>