<!DOCTYPE html>
<html lang="es">

<head>

    <title>Privacidad | GUILLERMO HALVARADO</title>
    <meta name="description" content="">

    {{> metas}}

    {{> styles}}

</head>

<body class="portfolio" id="top">

    {{> header}}

    <section class="page-title">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <iframe style="width: 100%; min-height: 500px; border: none;"
                        src="https://docs.google.com/document/d/e/2PACX-1vQUZ5RLoGnBbYHKG8Esw7gAHAH1HoIN3DBaRs9vl-K1h6sa6N29l8ufm40-0MOUZ1Sh6UW-VHE598v6/pub?embedded=true"></iframe>
                </div>
            </div>
        </div>
    </section>

    {{> seccion-cta}}

    {{> footer}}

    {{> scripts}}

</body>

</html>