<!-- Navigation start -->
<nav class="navbar navbar-expand-lg bg-transprent py-4 fixed-top navigation" id="navbar">
	<div class="container">
		<a class="navbar-brand" href="/">
			<h2 class="logo"><img src="/images/GuillermoHAlvarado-logo.png" /></h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
			aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-view-list"></span>
		</button>

		<div class="collapse navbar-collapse text-center" id="navbarsExample09">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"><a class="nav-link smoth-scroll" href="/#service">Proceso</a></li>
				<li class="nav-item"><a class="nav-link smoth-scroll" href="/#about">Sobre Mi</a></li>
				<li class="nav-item"><a class="nav-link smoth-scroll" href="/#portfolio">Trabajos</a></li>
				<li class="nav-item"><a class="nav-link smoth-scroll" href="/blog" target="_blank">Blog</a></li>
			</ul>

			<ul class="list-inline mb-0 ml-lg-4 nav-social">
				<li class="list-inline-item"><a href="/linkedin" target="_blank"><i class="ti-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- Navigation end -->