<section class="cta">
    <div class="container">
        <div class="row align-items-center" data-aos="fade-up">
            <div class="col-lg-6">
                <h3 class="mb-5 text-lg-2 text-p text-white">Quiero ayudarte a obtener resultados.</h3>
            </div>
            <div class="col-lg-4 ml-auto text-right">
                <a href="/linkedin" class="btn btn-main" target="_blank">CONTACTAME EN
                    LINKEDIN</a>
            </div>
        </div>
    </div>
</section>