<!DOCTYPE html>
<html lang="es">

<head>

  <title>Agencia de Diseño | GUILLERMO HALVARADO</title>
  <meta name="description" content="Genere los componentes principales de la página para poder organizar y estructurar cada
            sección y obtener el diseño final...">

  {{> metas}}

  {{> styles}}

</head>

<body class="portfolio" id="top">

  {{> header}}

  <section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title text-center">
            <h1>Diseño</h1>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <section class="section portfolio-single pt-0">
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-8">
          <img src="/images/portfolio/design-agency-portfolio.jpg" alt="Proyecto Agencia de Diseño"
            class="img-fluid rounded">

          <p class="mt-4 mb-5">Este proyecto fue solo un proyecto de diseño donde realicé su respectivo wireframe con el
            fin de identificar cada parte de la página y dar un sentido del objetivo del sitio con la marca. Luego de
            tener un wireframe estructurado, se generó una guía de estilo para estandarizar los colores, tipografía y
            componentes atómicos del sitio web.</p>

          <p class="mt-4 mb-5">Genere los componentes principales de la página para poder organizar y estructurar cada
            sección y obtener el diseño final de la maqueta en la pantalla móvil y de escritorio.</p>

        </div>

      </div>
    </div>
  </section>

  {{> seccion-cta}}

  {{> footer}}

  {{> scripts}}

</body>

</html>