<!DOCTYPE html>
<html lang="es">

<head>

  <title>Activos Digitales | GUILLERMO HALVARADO</title>
  <meta name="description"
    content="Realicé una breve investigación de mercado, con el fin de identificar modelos de negocio similares a la marca, para posteriormente generar el wireframe...">

  {{> metas}}

  {{> styles}}

</head>

<body class="portfolio" id="top">

  {{> header}}

  <section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title text-center">
            <h1>Diseño</h1>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <section class="section portfolio-single pt-0">
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-8">
          <img src="/images/portfolio/digital-actives-portfolio.jpg" alt="Proyecto activos digitales"
            class="img-fluid rounded">

          <p class="mt-4 mb-5">
            Realicé una breve investigación de mercado, con el fin de identificar modelos de negocio similares a la
            marca, para posteriormente generar el wireframe dándole una estructura base teniendo en cuenta el estilo de
            la marca y modelando a los competidores. Finalmente, genera el diseño (maqueta) de la página con imágenes y
            contenido como si fuera la de producción, para pantallas de escritorio, tableta y móvil.
          </p>
        </div>

      </div>
    </div>
  </section>

  {{> seccion-cta}}

  {{> footer}}

  {{> scripts}}

</body>

</html>