<!DOCTYPE html>
<html lang="es">

<head>

  <title>Landing Personal | GUILLERMO HALVARADO</title>
  <meta name="description" content="">

  {{> metas}}

  {{> styles}}

</head>

<body class="portfolio" id="top">

  {{> header}}

  <section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title text-center">
            <h1>Diseño</h1>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <section class="section portfolio-single pt-0">
    <div class="container">
      <div class="row d-flex d-flex justify-content-around">
        <div class="col-lg-8">
          <img src="/images/portfolio/personal-portafolio-contenido.jpg" alt="Proyecto landing personal"
            class="img-fluid rounded">

          <p class="mt-4 mb-5">
            Este proyecto consistió en generar un diseño con una plantilla html que ya estaba desarrollada. Lo que se
            hizo fue plasmar cada sección en figma, desfragmentando el diseño para que el cliente pudiera hacer sus
            modificaciones desde figma de forma rápida y sencilla y luego realizar los cambios pertinentes en la
            plantilla html de su página de destino.</p>
        </div>
      </div>
    </div>
  </section>

  {{> seccion-cta}}

  {{> footer}}

  {{> scripts}}

</body>

</html>