<!DOCTYPE html>
<html lang="es">

<head>

  <title>Marketing Digital Personal | GUILLERMO HALVARADO</title>
  <meta name="description" content="">

  {{> metas}}

  {{> styles}}

</head>

<body class="portfolio" id="top">

  {{> header}}

  <section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title text-center">
            <h1>Design</h1>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <section class="section portfolio-single pt-0">
    <div class="container">
      <div class="row d-flex d-flex justify-content-around">
        <div class="col-lg-8">
          <img src="/images/portfolio/personalMarketingDigital-portfolio.jpg" alt="Proyecto marketing digital personal"
            class="img-fluid rounded">

          <p class="mt-4 mb-5">Este proyecto fue relativamente rápido, el cliente solo solicitó que se capturara su
            página personal tomando en cuenta cada detalle, componente y secciónes de su página web para que él mismo
            pudiera realizar fácilmente los cambios pertinentes, primero en su diseño y luego en su página en
            producción. </p>
        </div>

      </div>
    </div>
  </section>

  {{> seccion-cta}}

  {{> footer}}

  {{> scripts}}

</body>

</html>