<!DOCTYPE html>
<html lang="es">

<head>

  <title>Prosolutions | GUILLERMO HALVARADO</title>
  <meta name="description"
    content="Tomando en cuenta el marco general de la marca y con su identidad construir un buyer persona para darle a la empresa un objetivo...">

  {{> metas}}

  {{> styles}}

</head>

<body class="portfolio" id="top">

  {{> header}}

  <section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title text-center">
            <h1>Rediseño y desarrollo</h1>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <section class="section portfolio-single pt-0">
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-8">
          <img src="/images/portfolio/prosolution-portfolio.jpg" alt="Proyecto Prosolutions" class="img-fluid rounded">

          <p class="mt-4 mb-5">
            En este proyecto lo primero que se hizo fue un moodboard con varias imágenes para identificar la marca,
            luego tomando en cuenta el marco general de la marca y con su identidad construir un buyer persona para
            darle a la empresa un objetivo claro y el página del destino.
          </p>
          <p class="mt-4 mb-5">
            Teniendo estas dos variables realicé un pequeño estudio de mercado con el fin de obtener algunos de sus
            competidores. Con la información ya adquirida construí un wireframe para generar un nuevo diseño de página y
            luego realizar las modificaciones correspondientes. Además, también solicitaron algunos banners para su
            publicidad gráfica.
          </p>
        </div>

      </div>
    </div>
  </section>

  {{> seccion-cta}}

  {{> footer}}

  {{> scripts}}

</body>

</html>