<!DOCTYPE html>
<html lang="es">

<head>

  <title>SPA Medico | GUILLERMO HALVARADO</title>
  <meta name="description"
    content="Se realizó una investigación de mercado para saber más sobre cómo es la conversación con los clientes en su rubro...">

  {{> metas}}

  {{> styles}}

</head>

<body class="portfolio" id="top">

  {{> header}}

  <section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="page-title text-center">
            <h1>Rediseño y desarrollo</h1>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </section>

  <section class="section portfolio-single pt-0">
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-8">
          <img src="/images/portfolio/spa-medico-portfolio.jpg" alt="Proyecto SPA medico" class="img-fluid rounded">

          <p class="mt-4 mb-5">
            En este proyecto se le solicitó al cliente toda la información que poseía sobre su marca, su página de
            facebook, su instagram y logo, con el fin de hacerse una idea del negocio y conocer su servicio. También se
            realizó una investigación de mercado para saber más sobre cómo es la conversación con los clientes en su
            rubro.
          </p>
          <p class="mt-4 mb-5">
            Además, el diseño se hizo cambiando colores, imágenes y agregando algunos componentes, toda la página fue
            capturada y reestructurada desde figma, así que una vez que tuve la imagen completa de cómo se vería la
            página, hice la programación adecuada para la página web terminada.
          </p>
        </div>

      </div>
    </div>
  </section>

  {{> seccion-cta}}

  {{> footer}}

  {{> scripts}}

</body>

</html>